.wrapper {
  overflow: hidden; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Kiwi Maru', serif; }

nav {
  white-space: nowrap;
  /*using sticky position*/
  z-index: 50;
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  align-items: center;
  color: white;
  background: #131516;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap; }
  @media screen and (max-width: 375px) {
    nav {
      height: 65px; } }

#mobile_toggle {
  justify-self: center;
  display: none;
  border: none;
  color: white;
  background: none; }

#site_title {
  height: 70px;
  margin-left: 50px;
  font-family: 'Kaisei Decol', serif;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  #site_title > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #site_title .logo1 > div:first-of-type {
    padding: 0;
    height: 36px;
    line-height: 1;
    font-size: 36px; }
    @media screen and (max-width: 375px) {
      #site_title .logo1 > div:first-of-type {
        font-size: 28px;
        height: 28px; } }
  #site_title .logo1 > div:nth-of-type(2) {
    margin-top: 3px;
    font-size: 15px; }
    @media screen and (max-width: 375px) {
      #site_title .logo1 > div:nth-of-type(2) {
        font-size: 12px; } }
  #site_title .logo2 {
    margin-left: 8px;
    font-size: 50px; }
    @media screen and (max-width: 375px) {
      #site_title .logo2 {
        font-size: 40px; } }

.header_menu {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  right: 0;
  float: right;
  list-style: none;
  padding: 0;
  color: #aba499; }
  .header_menu li {
    line-height: 71px;
    align-items: center;
    height: 71px;
    font-size: 20px;
    padding: 1px 10px;
    transition: background 0.5s ease-in-out; }
    .header_menu li a {
      text-decoration: none;
      color: white; }
  .header_menu li:hover {
    background: #de31aa; }

.background_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -10; }

.hover-to-shrink {
  transition: all 0.1s linear; }

.hover-to-shrink:hover {
  transform: scale(0.9); }

.content-frame {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: clip;
  box-sizing: border-box;
  padding-top: 90px; }
  .content-frame * {
    z-index: 10; }

.hover-underline-animation {
  display: inline-block;
  position: relative; }

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 20%;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out; }

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left; }

footer {
  width: 100%;
  height: 300px;
  background: white;
  z-index: 50;
  bottom: 0; }

@media screen and (max-width: 815px) {
  #mobile_toggle {
    display: inherit; }

  #site_title {
    margin-left: 10px; }

  .header_menu {
    display: none; } }

/*# sourceMappingURL=common_stylesheet.css.map */
