.content-slider {
  width: 100%; }

.content-frame .pamphlet_block {
  display: flex;
  flex-direction: row;
  width: 100%; }
  .content-frame .pamphlet_block .home_pamphlet, .content-frame .pamphlet_block .home_poster {
    flex-basis: 50%;
    padding: 10px;
    box-sizing: border-box; }
    .content-frame .pamphlet_block .home_pamphlet > img, .content-frame .pamphlet_block .home_poster > img {
      box-sizing: border-box;
      width: 100%; }
  .content-frame .pamphlet_block .home_poster {
    background: #de31aa;
    padding: 10px;
    text-align: center;
    font-size: 3rem; }

.update_block {
  width: 100%;
  height: 10rem;
  max-width: 70rem;
  color: black;
  background: crimson;
  margin: 30px;
  border-radius: 30px;
  box-sizing: border-box; }
  .update_block > h1 {
    font-size: 2rem;
    width: 100%;
    height: 3rem;
    margin: 10px;
    color: white;
    text-align: center;
    background: brown; }

.content1-home {
  width: 100%;
  max-width: 70rem;
  color: black;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row; }
  .content1-home .home_events {
    display: flex;
    flex-basis: 50%;
    flex-direction: row;
    font-size: 3rem;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: center; }
    .content1-home .home_events a {
      text-decoration: none;
      color: white; }
    .content1-home .home_events > * {
      flex-basis: 50%;
      height: 100%; }
    .content1-home .home_events p {
      margin: 0;
      padding: 0;
      white-space: nowrap; }
    .content1-home .home_events .button_events_all {
      position: relative; }
      .content1-home .home_events .button_events_all > img {
        width: 100%;
        position: relative; }
      .content1-home .home_events .button_events_all > a {
        box-sizing: border-box;
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0; }
        .content1-home .home_events .button_events_all > a > div {
          box-sizing: border-box;
          padding: 20% 10% 14% 20%;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
    .content1-home .home_events .button_events_all:hover {
      transform: scale(0.9); }
    .content1-home .home_events .button_events_other {
      display: flex;
      height: 100%;
      flex-direction: column; }
      .content1-home .home_events .button_events_other * {
        flex-basis: 50%;
        width: 100%; }
      .content1-home .home_events .button_events_other .button_events_part {
        line-height: 2.5rem;
        position: relative;
        box-sizing: border-box; }
        .content1-home .home_events .button_events_other .button_events_part > img {
          height: 100%;
          position: relative; }
        .content1-home .home_events .button_events_other .button_events_part > a {
          box-sizing: border-box;
          position: absolute;
          right: 0;
          top: 0;
          left: 0;
          bottom: 0; }
          .content1-home .home_events .button_events_other .button_events_part > a > div {
            box-sizing: border-box;
            padding: 11% 10% 10% 15%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center; }
      .content1-home .home_events .button_events_other a > div {
        margin: auto 0; }
    @media screen and (max-width: 1080px) {
      .content1-home .home_events .button_events_all p {
        font-size: 3rem;
        line-height: 1.8; }
      .content1-home .home_events .button_events_part p {
        font-size: 2.8rem; } }
    @media screen and (max-width: 1000px) {
      .content1-home .home_events .button_events_all p {
        font-size: 2.7rem;
        line-height: 1.8; }
      .content1-home .home_events .button_events_part p {
        font-size: 2.5rem; } }
    @media screen and (max-width: 900px) {
      .content1-home .home_events .button_events_all p {
        font-size: 2.5rem;
        line-height: 1.7; }
      .content1-home .home_events .button_events_part p {
        font-size: 2.3rem; } }
    @media screen and (max-width: 820px) {
      .content1-home .home_events .button_events_all p {
        font-size: 2.2rem;
        line-height: 1.7; }
      .content1-home .home_events .button_events_part p {
        font-size: 2rem; } }
    @media screen and (max-width: 820px) {
      .content1-home .home_events .button_events_all p {
        font-size: 2.1rem;
        line-height: 1.7; }
      .content1-home .home_events .button_events_part p {
        font-size: 1.9rem; } }
    @media screen and (max-width: 700px) {
      .content1-home .home_events .button_events_all p {
        font-size: 3.2rem;
        line-height: 1.8; }
      .content1-home .home_events .button_events_part p {
        font-size: 2.8rem; } }
    @media screen and (max-width: 500px) {
      .content1-home .home_events .button_events_all p {
        font-size: 2.7rem;
        line-height: 1.8; }
      .content1-home .home_events .button_events_part p {
        font-size: 2.5rem; } }
    @media screen and (max-width: 460px) {
      .content1-home .home_events .button_events_all p {
        font-size: 2.5rem;
        line-height: 1.8; }
      .content1-home .home_events .button_events_part p {
        font-size: 2.3rem; } }
    @media screen and (max-width: 400px) {
      .content1-home .home_events .button_events_all p {
        font-size: 2.3rem;
        line-height: 1.8; }
      .content1-home .home_events .button_events_part p {
        font-size: 2.1rem; } }
    @media screen and (max-width: 370px) {
      .content1-home .home_events .button_events_all p {
        line-height: 1.6;
        font-size: 2rem; }
      .content1-home .home_events .button_events_part p {
        font-size: 1.7rem;
        font-feature-settings: "flat"; } }
    @media screen and (max-width: 330px) {
      .content1-home .home_events .button_events_all p {
        line-height: 1.5;
        font-size: 1.8rem; }
      .content1-home .home_events .button_events_part p {
        font-size: 1.5rem;
        font-feature-settings: "flat"; } }
  .content1-home .events_by_category {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap; }
    .content1-home .events_by_category div {
      flex-basis: 50%;
      background: black;
      height: 100px; }

.border_in_events {
  border-left: 2px dashed #8c8b8b; }

@media screen and (max-width: 700px) {
  .home_pamphlet, .home_poster {
    flex-basis: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin: 10px 0; }

  .content1-home, .pamphlet_block {
    flex-direction: column; }

  .home_events {
    flex-basis: auto; } }

/*# sourceMappingURL=home.css.map */
