
.content-slider {
  width: 100%;
}

.home_events {
  display: flex;
  flex-basis: 60%;
  flex-direction: row;
  font-size: 35px;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: center;

  a {
    text-decoration: none;
    color: white;
  }

  > * {
    flex-basis: 50%;
    height: 100%;
  }

  p {
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }

  .button_events_all {
    position: relative;

    > img {
      width: 100%;
      position: relative;
    }

    > a {
      box-sizing: border-box;
      position: absolute;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;

      > div {
        box-sizing: border-box;
        padding: 20% 10% 14% 20%;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .button_events_other {
    display: flex;
    height: 100%;
    flex-direction: column;

    * {
      flex-basis: 50%;
      width: 100%;
    }

    .button_events_part {
      line-height: 2.5rem;
      position: relative;
      box-sizing: border-box;

      > img {
        height: 100%;
        position: relative;
      }

      > a {
        box-sizing: border-box;
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;

        > div {
          box-sizing: border-box;
          padding: 11% 10% 10% 15%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    a > div {
      margin: auto 0;
    }
  }
}

.home_pamphlet {
  flex-basis: 40%;
  padding: 10px;
  box-sizing: border-box;

  > img {
    box-sizing: border-box;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .home_pamphlet {
    flex-basis: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin: 10px 0;
  }
  .home_events {
    flex-basis: auto;
  }
}
