.icon_title_block {
  display: flex;
  //height: 200px;
  flex-direction: row;
  margin: 10px;
}

.icon {
  width: 15rem;
}

.title_block {
  margin-top: 10px;
  margin-left: 20px;
  .title {
    font-size: 3rem;
    margin: 0;
    padding: 0;
  }
}
.content1-home{
  max-width: 60rem;
}