.background_test {
    background: linear-gradient(90deg, rgb(255, 240, 245), rgb(255, 228, 225));
}
body{
    background: beige;
}
p{
    color: black;
    font-size: 15px;

}
h1{
    background: brown;
    width: 500px;
    height: 50px;
    text-align: center;
}
h2{
    font-size: 60px;
    text-align: center;
    background-color: pink;
}
 #practice{
     font-size: 40px;
     text-align: center;
     font-style: italic;
     background: hotpink;
     width: 500px;
     height: 100px;
}
.logo_test {                    /* ロゴ部分の指定 */
    text-align:  center;        /* 文字を中央揃え */
    font-style: italic;
    font-size: 40px;
    padding: 100px;                /* 余白指定 */
    color:  black;                /* 文字の色指定 */
    border:  solid 1px pink;    /* 枠線指定 */
    width: 220px;                /* 幅指定 */
    margin:  0 auto;            /* 中央寄せ */

}

.background_test {                /* 背景部分の指定 */
    padding: 100px;                /* 余白指定 */
}
.otoiawase{
    font-size: 12px;
}


